@{
    ViewData["Title"] = "Genshin Impact Character Collection";
}
<html>
<head>
    <style>
        body {
            background-image: url('https://assetsio.reedpopcdn.com/Genshin-Impact-3.8-release-date%2C-3.8-Banner-and-event-details-cover.jpg?width=1600&height=900&fit=crop&quality=100&format=png&enable=upscale&auto=webp');
            background-repeat: no-repeat;
            background-attachment: fixed;
            background-size: cover;
        }
    </style>
</head>
<body>
    <div class="text-center">
        <h1 class="display-4">Welcome</h1>
        <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
    </div>
</body>
</html>
